QWidget {
    background-color: #212121;
    color: #FFFFFF;
}

QPushButton {
    background-color: #212121;
    color: #FFFFFF;
}

QPushButton:hover {
    background-color: #505050;
}

QLineEdit {
    background-color: #353434;
    color: #ffffff;
    border: 0.5px solid #595959;
}

#State {
    background-color: #212121;
    color: #FFFFFF;
    border : 1px solid #000000;
}

#TitleBar {
    background-color: #000000;
}

#TitleBar QPushButton {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    text-align: center;
}


#TitleBar QPushButton:hover {
    background-color: #641717;
    color: #FFFFFF;
}


#Error {
    background-color: #bd3535;
    color: #ffffff;
}

#Error QPushButton {
    background-color: #bd3535;
    color: #ffffff;
    border: none;
}

#Error QPushButton:hover {
    background-color: #641717;
    color: #FFFFFF;
}

#Error QLabel {
    color: #ffffff;
    background-color: #bd3535;
}


#icon{
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    text-align: center;
    padding-bottom: 10px;
}

#icon:hover {
    background-color: #000000; /* Mantém a cor de fundo original */
    color: #FFFFFF; /* Mantém a cor do texto original */
    border: none;
}