QMainWindow {
    background-color: #212121;
    color: #FFFFFF;
}

QWidget {
    background-color: #212121;
    color: #FFFFFF;
}

QMenuBar {
    background-color: #212121;
    color: #FFFFFF;
}

QMenu {
    background-color: #212121;
    color: #FFFFFF;
}

QMenu::item:selected {
    background-color: #3E3E3E;
}

QToolBar {
    background-color: #212121;
    color: #FFFFFF;
}

QStatusBar {
    background-color: #212121;
    color: #FFFFFF;
}

QPushButton {
    background-color: #212121;
    color: #FFFFFF;
}

QPushButton:hover {
    background-color: #505050;
}

QLineEdit {
    background-color: #353434;
    color: #ffffff;
    border: 0.5px solid #595959;
}

#TitleBar {
    background-color: #000000;
}