QWidget {
    background-color: #ffffff;
    color: #000000;
}

QPushButton {
    background-color: #E0E0E0;
    color: #000000; 
}

QPushButton:hover {
    background-color: #D0D0D0; 
}

QLineEdit {
    background-color: #E0E0E0;
    color: #000000;
    border: 0.5px solid #595959;
}

#State {
    background-color: #ffffff;
    color: #000000;
    border : 1px solid #646363;
}

#TitleBar {
    background-color: #646363;
}

#TitleBar QPushButton {
    background-color: #646363;
    color: #000000;
    border: none;
}

#TitleBar QPushButton:hover {
    background-color: #33385a;
}


#Error {
    background-color: #bd3535;
    color: #ffffff;
}

#Error QPushButton {
    background-color: #bd3535;
    color: #ffffff;
    border: none;
}

#Error QPushButton:hover {
    background-color: #641717;
    color: #FFFFFF;
}

#Error QLabel {
    color: #ffffff;
    background-color: #bd3535;
}

#Icon-bar {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    text-align: center;
    padding-bottom: 10px;
}

#Icon-bar :hover {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}